@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Roboto: wght @300 & display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



header {
    width: 100%px;
    height: 70px;
    background-color: white;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
}

header .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-right: 40px;
}

.Glogo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;


}

.menu li {
    display: inline-block;
    padding-left: 67px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 10px;

}

.menu a {
    color: black;
    padding: 0px 5px;
    border-radius: 3px;
    transition: 200ms;


}

.pesquisaicon {
    width: 20px;
    height: 20px;
    margin-right: 20px;

}


body {
    background-color: #54426B;
}

.titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;



    color: #E9F1F7;
}

.h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}




.linkdin {
    margin-top: 128px;
    margin-left: 123.29px;
    margin-right: 22.29px;
    width: 50px;
}

.instaicon {
    margin-right: 22.29px;
    width: 50px;
}

.github {
    margin-left: 20px;
    width: 55px;
}


.container {
    display: flex;
    /* flex-direction: row; */
    /*justify-content: space-evenly;*/
    align-items: flex-start;


}

.item-1{
    margin-top: 262px;
    margin-left: 122px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    


    color: #FFFFFF;
}

.item-2 {
    margin-left: 250px;
    margin-top: 150px;
    width: 400px;
    height: 400px;
    background-color: #DBD5B2;
    filter: drop-shadow(0px 24px 48px rgba(0, 0, 0, 0.5));
  
}

.fotinho{
    
    filter: drop-shadow(0px 24px 48px rgba(0, 0, 0, 0.5));
    width: 500px;
    height: 500px;
    transform: rotate(-6deg);
}

.redes-sociais{
    margin-top: 120px;
    
}